$colorSite:#5D71DD;
$colorText:#2F2222;
$colorSilver:#EDEDED;
$colorSilverText:rgba(47, 34, 34, 0.40);
$colorLink:#F7F8FD;
$colorFooter:rgba(93, 113, 221, 0.05);

$fontLight:'Futura PT Book';
$fontBold:'Futura PT Light';